<div class="article--link">
  <div class="eyecatch">
    <img src="eyecatch.img" alt="">
  </div>
  <div class="article--option">
    <a href="edit.html">編集</a>
    <a href="delete.html">削除</a>
  </div>
  <%= link_to article_path(article.id), method: :get, class: "article--info" do %>
    <h2><%= article.title %></h2>
    <p class="created"><%= article.created_at.strftime('%Y.%m.%d') %></p>
  <% end %>
</div>