<div class="content">
  <div class="article_wrapper">
    <div class="thumbnail">
        <img src="" alt="">
    </div>
    <article class="article_body">
      <h2>Blog Title</h2>
      <p>
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
        texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext
      </p>
    </article>
  </div>
</div>