<div class="content">
  <div class="article_wrapper">
    <div class="thumbnail">
        <img src="" alt="">
    </div>
    <article class="article_body">
      <h2><%= @articles.title %></h2>
      <p class="created"><%= @articles.created_at.strftime('%Y.%m.%d') %></p>
      <p class="content"><%= @articles.content %></p>
    </article>
  </div>
</div>