#header {
  width: 100%;
  background: colors(orange2);
  position: relative;

  h1 {
    text-align: center;
    padding: 12px 0 12px;
    font-size: 26px;
    font-weight: bold;

    a {
      color: colors(white);
      transition: color .3s;

      &:hover {
        color: #ddd;
      }
    }
  }
}